<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemTitle</key>
		<string>转账</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>信用卡还款</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>充值中心</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>余额宝</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>淘票票</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>滴滴出行</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>生活缴费</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>蚂蚁花呗</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>蚂蚁森林</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>城市服务</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>记账本</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>蚂蚁聚宝</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>机票火车票</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>红包</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>世界那么大</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>加油服务</string>
		<key>itemImgStr</key>
		<string>exchange</string>
	</dict>
</array>
</plist>
